[Unit]
Description=uWSGI instance to serve SimpleTextEncryption
After=network.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /var/www/SimpleTextEncryption/SimpleTextEncryption.ini

[Install]
WantedBy=multi-user.target
