.navbar {
    height: 80px;
}

.container-fluid {
    position: fixed;
    height: calc(100% - 80px);
}

.row {
    height: 100%;
}

.btnbar {
    width: 250px;
}

#unencrypted, #encrypted {
    resize: none;
    padding-left: 0.8em;
    height: calc(100% - 15px);
}

.unencrypted, .encrypted {
    width: calc(50% - 125px);
    padding: 0 15px;
}

#unencrypted:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem #c3e6cb;
}

#encrypted:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem #f5c6cb;
}

body.wait, body.wait * {
    cursor: wait !important;
}
