<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='description' content='Encryption'>
    <meta name='keywords' content='HTML,CSS,Python,JavaScript,jQuery,Bootstrap,Flask,JSON'>
    <meta name='author' content='Sunshine'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Encryption</title>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">

    <script>
        $(function() {
            $('#encrypt').click(function() {
                $('.btn').attr('disabled', true);
                $('#output').val('');
                $.post('do', {
                    mode: 'encrypt',
                    key: $('#key').val(),
                    content: $('#content').val(),
                }, function(data) {
                    if (data.result != null) {
                        $('#output').val(data.result);
                    } else {
                        alert('Empty content!');
                        $('#output').val('');
                    };
                    $('.btn').attr('disabled', false);
                }, 'json');
            });
            $('#decrypt').click(function() {
                $('.btn').attr('disabled', true);
                $('#output').val('');
                $.post('do', {
                    mode: 'decrypt',
                    key: $('#key').val(),
                    content: $('#content').val(),
                }, function(data) {
                    if (data.result != null) {
                        $('#output').val(data.result);
                    } else {
                        alert('Empty or Malformed content!');
                        $('#output').val('');
                    };
                    $('.btn').attr('disabled', false);
                }, 'json');
            });
        });
    </script>
</head>

<body>
    <header class='navbar navbar-expand navbar-light flex-column flex-md-row'>
        <a class='navbar-brand text-primary m-0 mr-md-3' href='' style='font-size:24px;'>Encryption</a>
    </header>
    <div class='container-fluid'>
        <div class='row'>
            <div class='content'>
                <textarea class='form-control' id='content' placeholder='Type (or paste) here...'></textarea>
            </div>
            <div class='btnbar p-0 pt-5'>
                <div class='input-group mb-3'>
                    <div class='input-group-prepend'>
                        <span class='input-group-text'>Key</span>
                    </div>
                    <input type='password' class='form-control' id='key'>
                </div>
                <button class='btn btn-primary btn-block' type='button' id='encrypt'>Encrypt</button>
				<button class='btn btn-primary btn-block' type='button' id='decrypt'>Decrypt</button>
                <br>
                <button onclick='Copy()' type='button' class='btn btn-primary btn-block'>Copy to clipboard</button>
                <br>
                <br>
                <button onclick='Clear()' type='button' class='btn btn-primary btn-block'>Clear</button>
            </div>
            <div class='output'>
                <textarea class='form-control' id='output' readonly></textarea>
            </div>
        </div>
    </div>
</body>

</html>

