<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='description' content='Simple Text Encryption'>
    <meta name='keywords' content='HTML, CSS, Python, JavaScript, jQuery, Bootstrap, Flask, JSON'>
    <meta name='author' content='Sunshine'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Simple Text Encryption</title>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src="{{ url_for('static', filename='sjcl.js') }}"></script>
    <script src="{{ url_for('static', filename='zlib.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">

    <script>
        $(function () {
            $('#encrypt').click(function () {
                if ($('#unencrypted').val() == '') {
                    alert('Empty unencrypted text!');
                    return false;
                };
                if ($('#online').prop('checked')) {
                    $.post('do', {
                        mode: 'encrypt',
                        key: $('#key').val(),
                        content: $('#unencrypted').val(),
                    }, function (data) {
                        if (data.result != null) {
                            $('#encrypted').val(data.result);
                        } else {
                            alert('Unknow error!');
                        };
                    }, 'json').fail(function () {
                        alert('Network error!');
                    }).always(function () {
                        waiting(false);
                    });
                } else {
                    waiting();
                    try {
                        encrypt();
                    } catch (e) {
                        alert('Error!\n\n' + e.message);
                    };
                    waiting(false);
                };

            });
            $('#decrypt').click(function () {
                if ($('#encrypted').val() == '') {
                    alert('Empty encrypted text!');
                    return false;
                };
                if ($('#online').prop('checked')) {
                    $.post('do', {
                        mode: 'decrypt',
                        key: $('#key').val(),
                        content: $('#encrypted').val(),
                    }, function (data) {
                        if (data.result != null) {
                            $('#unencrypted').val(data.result);
                        } else {
                            alert('Incorrect key or malformed encrypted text!');
                        };
                    }, 'json').fail(function () {
                        alert('Network error!');
                    }).always(function () {
                        waiting(false);
                    });
                } else {
                    waiting();
                    try {
                        decrypt();
                    } catch (e) {
                        alert('Incorrect key or malformed encrypted text!\n\n' + e.message);
                    };
                    waiting(false);
                };
            });
            $('#show').change(function () {
                if ($('#key').attr('type') == 'password') {
                    $('#key').attr('type', 'text');
                } else {
                    $('#key').attr('type', 'password');
                };
            });
        });
    </script>
</head>

<body>
    <header class='navbar navbar-expand navbar-light flex-column flex-md-row'>
        <a class='navbar-brand text-primary m-0 mr-md-3' href='/'>Simple Text Encryption</a>
        <div class='custom-control custom-switch'>
            <input type='checkbox' class='custom-control-input' id='online'>
            <label class='custom-control-label' for='online'>Online Version</label>
        </div>
    </header>
    <div class='container-fluid'>
        <div class='row'>
            <div class='unencrypted'>
                <textarea class='form-control' id='unencrypted' placeholder='Type (or paste) unencrypted text here...'></textarea>
            </div>
            <div class='btnbar'>
                <div class='button-group'>
                    <div class='input-group'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text'>Key</span>
                        </div>
                        <input type='password' class='form-control' maxlength=1000 id='key'>
                    </div>
                    <div class='custom-control custom-checkbox mb-3'>
                        <input type='checkbox' class='custom-control-input' id='show'>
                        <label class='custom-control-label' for='show'>Show/Hide Key</label>
                    </div>
                </div>
                <div class='button-group main'>
                    <button class='btn btn-danger btn-block' type='button' id='encrypt'>
                        <span class='horizontal'>🡢 Encrypt 🡢</span>
                        <span class='vertical'>🡣 Encrypt 🡣</span>
                    </button>
                    <button class='btn btn-success btn-block' type='button' id='decrypt'>
                        <span class='horizontal'>🡠 Decrypt 🡠</span>
                        <span class='vertical'>🡡 Decrypt 🡡</span>
                    </button>
                </div>
                <div class='button-group copy'>
                    <br>
                    <button onclick='Copy()' type='button' class='btn btn-primary btn-block'>Copy to clipboard</button>
                    <div class='d-flex justify-content-around'>
                        <div class='custom-control custom-radio custom-control-inline'>
                            <input class='custom-control-input' type='radio' id='text1' name='text' value='unencrypted'>
                            <label class='custom-control-label' for='text1'>Unencrypted</label>
                        </div>
                        <div class='custom-control custom-radio custom-control-inline'>
                            <input class='custom-control-input' type='radio' id='text2' name='text' value='encrypted' checked>
                            <label class='custom-control-label' for='text2'>Encrypted</label>
                        </div>
                    </div>
                    <br>
                </div>
                <div class='button-group'>
                    <button onclick='Clear()' type='button' class='btn btn-primary btn-block'>Clear</button>
                </div>
            </div>
            <div class='encrypted'>
                <textarea class='form-control' id='encrypted' placeholder='Paste encrypted text here...'></textarea>
            </div>
        </div>
    </div>
</body>

</html>
